{% extends "base_generic.html" %}

{% block title %}{{ thread.name }}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form action="submit/" method="post">
            {% csrf_token %}
            {{ post_form }}
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    {% endif %}
    {% for post in posts %}
        <a>{{ post.author.username }}</a><br>
        <a>{{ post.data }}</a><br>
        {% if user.is_staff %}
            <a href="{{ post.id }}/delete_post/">del</a><br>
        {% endif %}
    {% endfor %}
    {% if cur_page > 0 %}
        <a href="?page={{ cur_page|add:'-1' }}">Назад</a>
    {% endif %}
    {% if cur_page < max_page %}
        <a href="?page={{ cur_page|add:'1' }}">Вперёд</a>
    {% endif %}
{% endblock %}