{% extends "base_generic.html" %}

{% block title %}{{ thread.name }}{% endblock %}
{% block title2 %}{{ thread.name }}{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <form action="submit/" method="post">
            {% csrf_token %}
            {{ post_form }}
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    {% endif %}
    {% for post in page.object_list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8">
                        {% if post.author == None %}
                            <p>DELETED</p>
                        {% else %}
                            <p>{{ post.author.username }}</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        {% if user.is_staff %}
                            <a href="{{ post.id }}/delete_post/">del</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <p>{{ post.data|linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Назад</a>
    {% endif %}
    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Вперёд</a>
    {% endif %}
{% endblock %}